.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 2%;
}

.landing-header {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%), 
                      url('../img/keyboard-headphones.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    height: 100%;
    background-size: 110%;
}



.landing-title {
    text-transform: uppercase;
    color: #5C18F0;
    text-decoration: underline #F0E118;
    letter-spacing: .5em;
    text-align: center;
}
#last-letter {
    letter-spacing: 0;
}

.welcome-section {
    border: #0CF0AB solid 3px;
    padding: 5%;
    margin: 3%;
}

.welcome-section h2 {
    border-bottom: solid #0CF0AB 1px;
    color: #454545;
}



.landing > * {
    min-height: 29vh;
}

.get-started {
    background-color: #454545;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.get-started h2 {
    border-bottom: #F0E118 solid 1px;
    margin: 0;
}



.signup-button {
    margin-right: 10px;
}

.account-buttons {
    text-align: center;
}

@media (min-width: 768px) {
    .landing-header {
        min-height: 35vh;
    }
}

@media (min-width: 1280px) {
    .landing-header {
        min-height: 45vh;
        background-position: center -180px;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 74%), 
                      url('../img/keyboard-headphones.jpg');
    }

    .welcome-section {
        margin: 3% 10%;
    }

    .get-started {
        padding: 0 15%;
    }
}