.date-created {
    font-style: italic;
    font-size: 12px;
    color: #acacac;
    margin: 0;
}

.all-exchanges {
    min-height: 52vh;
    align-items: flex-end;
}

.all-exchanges li {
    text-align: right;
}
