header {
    display: flex;
    flex-direction: column;
}

#exchange-header {
    border-bottom: solid black 3px;
    color: #454545;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exchange-header *{
    text-decoration: #0CF0AB underline 3px;
}

#exchange-title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

#ex-description {
    text-decoration: none;
    text-align: center;
}

#ex-add-song-btn {
    padding: 2em 0;
    letter-spacing: .3em;
    font-weight: bold;
    color: black;
}

#ex-add-song {
    padding: 3%;
    display: flex;
    flex-direction: column;
}

#ex-submit-song-btn {
    align-self: center;
    margin-top: .5em;
    padding: .5em 1.5em;
    font-size: 16px;
}

@media (min-width: 768px) {
    #ex-add-song {
        display: flex;
        flex-flow: row wrap;
        padding: 3% 9%;
    }

    #ex-add-song > * {
        flex: 2;
        min-width: 50%;
    }

    #ex-add-song button {
        max-width: 40%;
        margin: auto;
        padding: .5em 0;
        margin-top: 1em;
    }
}

@media (min-width: 1280px) {
    #ex-add-song {
        padding: 3% 15%;
    }

    #ex-add-song button {
        padding: 1em 0;
    }
}