.song-form {
    display: flex;
    justify-content: space-between;
}

.comment-input {
    width: 100% !important;
    border: none;
    background-color: #acacac;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 5px;
}

.comment-button {
    box-sizing: content-box;
}