.song-section {
    border-bottom: solid 3px black;
    background-color: white;
}

.song-title {
    font-size: 24px;
    margin: 0;
    color: #4C00F0;
}

.song-added,
.song-link {
    margin: 2px 0 0 0;
    font-style: italic;
    font-weight: normal;
    text-align: right;
}

.song-added {
    font-size: 12px;
}

.song-link {
    color: #454545;
    font-size: 13px;
}

.song-div {
    margin: 0 5%;
    padding: 2% 0;
}

.song-header {
    text-align: right;
    min-width: 60%;
    padding-bottom: 0;
}

.song-details {
    border-bottom: solid black 1px;
    padding-top: 0;
}

.song-details > * {
    margin-bottom: .5em;
    margin-top: 0;
}

.song-comments > p {
    background-color: white;
    color: #454545;
    display: block;
}

.song-comments * {
    margin: .2em 0;
}

.username {
    /* text-decoration: #0CF0AB underline; */
    font-weight: bold;
    color: #4C00F0;
}