body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 85vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 5%;
}

section:nth-child(even) {
  background-color: #F0E118;
}

section:nth-child(odd) {
  background-color: #454545;
  color: white
}

section:nth-child(odd) a {
  color: white
}

button {
  background-color: #0CF0AB;
  border: none;
  border-radius: 4px;
  padding: .5em 1em;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}


